<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>ExitNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>ExitSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>OptionNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,34},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>OptionSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,34},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>StartNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,66},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>StartSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,66},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,98},{69,36}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{69,36}}</string>
                <key>sourceSize</key>
                <string>{77,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameMenu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3383a1f7976647378cddd3ba42f1745$</string>
            <key>textureFileName</key>
            <string>GameMenu.png</string>
        </dict>
    </dict>
</plist>
