<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help_img_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1009,744},{494,739}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,739}}</string>
                <key>sourceSize</key>
                <string>{494,739}</string>
            </dict>
            <key>help_img_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1015,2},{492,739}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,739}}</string>
                <key>sourceSize</key>
                <string>{492,739}</string>
            </dict>
            <key>help_img_3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{745,1490},{498,740}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,740}}</string>
                <key>sourceSize</key>
                <string>{498,740}</string>
            </dict>
            <key>help_img_4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,747},{503,742}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,742}}</string>
                <key>sourceSize</key>
                <string>{503,742}</string>
            </dict>
            <key>help_img_5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1491},{505,741}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,741}}</string>
                <key>sourceSize</key>
                <string>{505,741}</string>
            </dict>
            <key>help_img_6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{515,2},{498,740}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,740}}</string>
                <key>sourceSize</key>
                <string>{498,740}</string>
            </dict>
            <key>help_img_7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1509,2},{490,738}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,738}}</string>
                <key>sourceSize</key>
                <string>{490,738}</string>
            </dict>
            <key>help_img_8.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{511,743}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,743}}</string>
                <key>sourceSize</key>
                <string>{511,743}</string>
            </dict>
            <key>help_img_9.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{507,747},{500,741}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,741}}</string>
                <key>sourceSize</key>
                <string>{500,741}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture_2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ddce1cad3bfdfec62f85f71e92a24ac$</string>
            <key>textureFileName</key>
            <string>texture_2.png</string>
        </dict>
    </dict>
</plist>
