<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Arms.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,841},{174,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{174,74}}</string>
                <key>sourceSize</key>
                <string>{176,74}</string>
            </dict>
            <key>ArmsBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,321},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>BigBomb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1928},{191,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,118}}</string>
                <key>sourceSize</key>
                <string>{191,118}</string>
            </dict>
            <key>BigBomb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,1181},{101,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,108}}</string>
                <key>sourceSize</key>
                <string>{101,108}</string>
            </dict>
            <key>addBlood1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,723},{222,54}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,72},{222,54}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>addBlood2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,667},{222,54}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,72},{222,54}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,760},{40,52}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{40,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,321},{254,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{254,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bottomOfpic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,471},{362,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,23}}</string>
                <key>sourceSize</key>
                <string>{362,23}</string>
            </dict>
            <key>bottomOfpicture.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,557},{224,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,108}}</string>
                <key>sourceSize</key>
                <string>{224,108}</string>
            </dict>
            <key>button_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,958},{196,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{196,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>buttonsingle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,779},{196,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{196,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>buttonsingle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,760},{196,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{196,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>enemy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,990},{138,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,96}}</string>
                <key>sourceSize</key>
                <string>{138,96}</string>
            </dict>
            <key>enemy5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1973,750},{105,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,73}}</string>
                <key>sourceSize</key>
                <string>{105,73}</string>
            </dict>
            <key>enemy6.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,977},{260,195}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{260,195}}</string>
                <key>sourceSize</key>
                <string>{262,197}</string>
            </dict>
            <key>enemy7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,557},{250,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,201}}</string>
                <key>sourceSize</key>
                <string>{250,201}</string>
            </dict>
            <key>enemy8.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1928},{116,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,82}}</string>
                <key>sourceSize</key>
                <string>{116,82}</string>
            </dict>
            <key>enemyBoss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,643},{449,332}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,332}}</string>
                <key>sourceSize</key>
                <string>{453,332}</string>
            </dict>
            <key>enemyBoss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,819},{404,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,256}}</string>
                <key>sourceSize</key>
                <string>{404,256}</string>
            </dict>
            <key>enemyBoss_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,471},{467,346}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,346}}</string>
                <key>sourceSize</key>
                <string>{469,346}</string>
            </dict>
            <key>enemyBulletSet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,740},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>enemyBulletSet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1093},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>enemyBulletSet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,718},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>gameHelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,235},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>gamenandu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,1076},{91,196}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,196}}</string>
                <key>sourceSize</key>
                <string>{91,200}</string>
            </dict>
            <key>img_bg_1_change.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{360,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,640}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>img_bg_2_change.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{360,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,640}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>img_bg_3_change.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,640}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>logo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,2},{200,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{200,50}}</string>
                <key>sourceSize</key>
                <string>{200,54}</string>
            </dict>
            <key>mHelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,321},{184,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,62}}</string>
                <key>sourceSize</key>
                <string>{184,62}</string>
            </dict>
            <key>medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{629,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,317}}</string>
                <key>sourceSize</key>
                <string>{629,317}</string>
            </dict>
            <key>myPlane1atr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{493,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,231}}</string>
                <key>sourceSize</key>
                <string>{493,231}</string>
            </dict>
            <key>myPlane2_bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,204},{45,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,115}}</string>
                <key>sourceSize</key>
                <string>{45,115}</string>
            </dict>
            <key>myPlane2_bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,819},{61,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,136}}</string>
                <key>sourceSize</key>
                <string>{61,136}</string>
            </dict>
            <key>myPlane2_bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1011},{99,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,155}}</string>
                <key>sourceSize</key>
                <string>{99,155}</string>
            </dict>
            <key>myPlane2atr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,2},{492,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,231}}</string>
                <key>sourceSize</key>
                <string>{492,231}</string>
            </dict>
            <key>myPlane3_bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,643},{23,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,73}}</string>
                <key>sourceSize</key>
                <string>{23,73}</string>
            </dict>
            <key>myPlane3_bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,507},{62,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,124}}</string>
                <key>sourceSize</key>
                <string>{64,124}</string>
            </dict>
            <key>myPlane3_bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1093},{77,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,140}}</string>
                <key>sourceSize</key>
                <string>{77,140}</string>
            </dict>
            <key>myPlane3atr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,235},{491,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,234}}</string>
                <key>sourceSize</key>
                <string>{491,234}</string>
            </dict>
            <key>myplane1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,1067},{125,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,77}}</string>
                <key>sourceSize</key>
                <string>{125,77}</string>
            </dict>
            <key>myplane1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,633},{115,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,71}}</string>
                <key>sourceSize</key>
                <string>{115,71}</string>
            </dict>
            <key>myplane1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,1088},{135,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,91}}</string>
                <key>sourceSize</key>
                <string>{135,91}</string>
            </dict>
            <key>myplane2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,957},{108,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,83}}</string>
                <key>sourceSize</key>
                <string>{108,83}</string>
            </dict>
            <key>myplane2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,1169},{110,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,88}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>myplane2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,1156},{115,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,97}}</string>
                <key>sourceSize</key>
                <string>{115,97}</string>
            </dict>
            <key>myplane3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1169},{115,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{115,93}}</string>
                <key>sourceSize</key>
                <string>{117,93}</string>
            </dict>
            <key>myplane3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1928},{116,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,94}}</string>
                <key>sourceSize</key>
                <string>{116,94}</string>
            </dict>
            <key>myplane3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,857},{131,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,106}}</string>
                <key>sourceSize</key>
                <string>{131,106}</string>
            </dict>
            <key>plane1Show.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,977},{176,114}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{176,114}}</string>
                <key>sourceSize</key>
                <string>{182,114}</string>
            </dict>
            <key>plane2Show.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,917},{170,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,92}}</string>
                <key>sourceSize</key>
                <string>{170,92}</string>
            </dict>
            <key>plane3Show.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,977},{198,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,97}}</string>
                <key>sourceSize</key>
                <string>{198,97}</string>
            </dict>
            <key>selectStartButton_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,765},{174,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{174,74}}</string>
                <key>sourceSize</key>
                <string>{176,74}</string>
            </dict>
            <key>soundSprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,577},{186,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,140}}</string>
                <key>sourceSize</key>
                <string>{186,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17e05d13351a1118cdd1853d649041c5$</string>
            <key>textureFileName</key>
            <string>texture_1.png</string>
        </dict>
    </dict>
</plist>
